<div
  class="order-1 project md:col-span-2 grid gap-2 border-3 border-wds-400 rounded-lg p-4">
  <div class="">
    <h4 class="text-xl text-wds-900 font-bold">Work Examples</h4>
    <p class="text-sm">
      A collection of work from previous roles, including
      wireframes, low and high-fidelity designs, traceability
      documents, proofs of concepts, and more. This link is
      password protected, please reach out if you’d like access.
    </p>
  </div>
  <div
    class="flex bg-wds-50 justify-center shadow-lg rounded-sm">
    <div class="rounded-sm w-auto  p-4">

      <img src="./assets/workexamples.png"
           alt="Logo"
           class="w-120 rounded-lg h-auto object-contain"/>
    </div>
  </div>
  <!-- Color Ramp -->
  <button
    class="bg-wds-600 rounded-sm text-white text-center p-2 transition duration-150 ease-in-out transform hover:bg-wds-400 hover:shadow-sm cursor-pointer"
    [matMenuTriggerFor]="prevworkmenu"
    #myTriggerBtn
    href="">View Work Examples
  </button>
  <mat-menu #prevworkmenu="matMenu"
            class="bg-white">
    <ul>
      <li>
        <a
          target="_blank"
          class="w-full p-3 flex"
          rel="noopener noreferrer"
          href="https://www.figma.com/deck/Xj2qGCvOdy6QwcpjNntqE7/ICU-Work?node-id=16-21469&viewport=-25767%2C-124%2C0.74&t=Rf09mKoaAhRyiMlN-1&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1">
          ICU Medical
        </a>
      </li>
      <li>
        <a
          target="_blank"
          class="w-full p-3 flex"
          rel="noopener noreferrer"
          href="https://www.figma.com/deck/iPCzGUxzUUzL4ONPGrQv8F/Priority-Work?node-id=2023-57884&viewport=-3504%2C-169%2C0.77&t=f6LdrgcmBN5p3Pzs-1&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1">
          Priority
        </a>
      </li>
      <li>
        <a
          target="_blank"
          class="w-full p-3 flex"
          rel="noopener noreferrer"
          href="https://www.figma.com/proto/wX5nIQ7cyzBapwJCzglBme/Priority-Interview-Problem--2022-?page-id=0%3A1&node-id=2-2&viewport=868%2C399%2C0.19&t=Ao4IhQc5uNcAWp49-1&scaling=min-zoom&content-scaling=fixed">
          Priority Interview Exercise
        </a>
      </li>
      <li>
        <a
          target="_blank"
          class="w-full p-3 flex"
          rel="noopener noreferrer"
          href="https://www.notion.so/ND-Design-Library-25478bd457138011adbadb8bdcc1adcb?source=copy_link">
          Design Library
        </a>
      </li>
    </ul>
  </mat-menu>
</div>
<div
  class="order-1 project md:col-span-1 grid gap-2 border-3 border-wds-400 rounded-lg p-4">
  <div class="">
    <h4 class="text-xl text-wds-900 font-bold">WhiteDot Studio</h4>
    <p class="text-sm">
      A project born from a love of bowling and a strong dislike of
      California traffic.
    </p>
  </div>
  <div
    class="flex bg-wds-50 justify-center shadow-lg rounded-sm">
    <div class="rounded-sm w-auto">

      <img src="./assets/WDS.png"
           alt="Logo"
           class=" p-4 w-full h-auto object-contain"/>
    </div>
  </div>
  <!-- Color Ramp -->
  <div class="grid grid-cols-10">
    <div class="h-7 bg-wds-50"></div>
    <div class="h-7 bg-wds-100"></div>
    <div class="h-7 bg-wds-200"></div>
    <div class="h-7 bg-wds-300"></div>
    <div class="h-7 bg-wds-400"></div>
    <div class="h-7 bg-wds-500"></div>
    <div class="h-7 bg-wds-600"></div>
    <div class="h-7 bg-wds-700"></div>
    <div class="h-7 bg-wds-800"></div>
    <div class="h-7 bg-wds-900"></div>
  </div>
  <button
    class="bg-wds-600 rounded-sm text-white text-center p-2 transition duration-150 ease-in-out transform hover:bg-wds-400 hover:shadow-sm cursor-pointer"
    [matMenuTriggerFor]="wdsmenu"
    #myTriggerBtn
    href="">View Project
  </button>
  <mat-menu #wdsmenu="matMenu"
            class="bg-white">
    <ul>
      <li>
        <a
          target="_blank"
          class="w-full p-3 flex"
          rel="noopener noreferrer"
          href="https://www.figma.com/proto/cHzo5kIJ5kl7bhQJGiBfEL/WhiteDot-Studio?page-id=0%3A1&node-id=4-4174&viewport=-3%2C584%2C0.3&t=1ti228Bd3YNK57VC-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=4%3A4174&show-proto-sidebar=0">
          Mobile Prototype
        </a>
      </li>
      <li>
        <a
          target="_blank"
          class="w-full p-3 flex"
          rel="noopener noreferrer"
          href="https://www.figma.com/proto/bL5Hj7HlDaLMDzeLnX0DBx/Resume?node-id=429-15&p=f&viewport=-56%2C140%2C0.11&t=UMeWVArJN7hEiYXc-0&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=546%3A1921&show-proto-sidebar=0">
          Case Study
        </a>
      </li>
    </ul>
  </mat-menu>
</div>
<div
  class="order-6 project md:col-span-1 grid gap-2 border-3 border-fccb-400 rounded-lg p-4">
  <div class="">
    <h4 class="text-xl text-fccb-900 font-bold">FC Cookbook</h4>
    <p class="text-sm">
      A digital cookbook to keep family recipes close, wherever we
      all may be.
    </p>
  </div>
  <div
    class="flex bg-fccb-50 justify-center shadow-lg rounded-sm">
    <div class="rounded-sm w-auto">

      <img src="./assets/FCCB.png"
           alt="Logo"
           class="p-4 w-full h-auto object-contain"/>
    </div>
  </div>
  <!-- Color Ramp -->
  <div class="grid grid-cols-10">
    <div class="h-7 bg-fccb-50"></div>
    <div class="h-7 bg-fccb-100"></div>
    <div class="h-7 bg-fccb-200"></div>
    <div class="h-7 bg-fccb-300"></div>
    <div class="h-7 bg-fccb-400"></div>
    <div class="h-7 bg-fccb-500"></div>
    <div class="h-7 bg-fccb-600"></div>
    <div class="h-7 bg-fccb-700"></div>
    <div class="h-7 bg-fccb-800"></div>
    <div class="h-7 bg-fccb-900"></div>
  </div>
  <button
    [matMenuTriggerFor]="fccbmenu"
    #myTriggerBtn
    href=""
    class="bg-fccb-600 rounded-sm font-bold text-white p-2 hover:bg-fccb-400 hover:shadow-sm cursor-pointer transition duration-150 ease-in-out transform">
    View Project
  </button>
  <mat-menu #fccbmenu="matMenu"
            class="bg-white">
    <ul>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="w-full p-3 flex"
          href="https://www.figma.com/proto/KnydGlFhrtmgswmwOpTrad/FCCB?page-id=2134%3A3396&node-id=2670-7799&p=f&viewport=348%2C256%2C0.1&t=vzjlWDv8Wah0NhRv-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=2670%3A7799">
          Mobile Prototype
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="w-full p-3 flex"
          href="https://www.figma.com/proto/KnydGlFhrtmgswmwOpTrad/FCCB?page-id=2330%3A4565&node-id=2883-23519&p=f&viewport=407%2C155%2C0.32&t=4btAjki5dhYnhhwS-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=2883%3A23519">
          Desktop Prototype
        </a>
      </li>
    </ul>
  </mat-menu>
</div>
<div
  class="order-2 project md:col-span-1 grid gap-2 border-3 border-ins-400 rounded-lg p-4">
  <div class="">
    <h4 class="text-xl text-ins-900 font-bold">Insurance Manager</h4>
    <p class="text-sm">
      A modern take on a familiar insurance platform, based in
      Colorado.
    </p>
  </div>
  <div
    class="flex bg-ins-50 justify-center shadow-lg rounded-sm">
    <div class="rounded-sm w-auto">

      <img src="./assets/Insurance.png"
           alt="Logo"
           class=" p-4 w-full h-auto object-contain"/>
    </div>
  </div>
  <!-- Color Ramp -->
  <div class="grid grid-cols-10">
    <div class="h-7 bg-ins-50"></div>
    <div class="h-7 bg-ins-100"></div>
    <div class="h-7 bg-ins-200"></div>
    <div class="h-7 bg-ins-300"></div>
    <div class="h-7 bg-ins-400"></div>
    <div class="h-7 bg-ins-500"></div>
    <div class="h-7 bg-ins-600"></div>
    <div class="h-7 bg-ins-700"></div>
    <div class="h-7 bg-ins-800"></div>
    <div class="h-7 bg-ins-900"></div>
  </div>
  <button
    class="bg-ins-600 rounded-sm text-white text-center p-2 transition duration-150 ease-in-out transform hover:bg-ins-400 hover:shadow-sm cursor-pointer"
    [matMenuTriggerFor]="insmenu"
    #myTriggerBtn>
    View Project
  </button>
  <mat-menu #insmenu="matMenu"
            class="bg-white">
    <ul>
      <li>
        <a
          target="_blank"
          class="w-full p-3 flex"
          rel="noopener noreferrer"
          href="https://xd.adobe.com/view/6e4c69f4-8840-4c5d-adc8-8d3f5d5de695-3b1f/">
          Desktop Prototype (2022)
        </a>
      </li>
      <li>
        <a
          target="_blank"
          class="w-full p-3 flex"
          rel="noopener noreferrer"
          href="https://www.figma.com/proto/dcS0TJ1zqMN2FqIFbifemz/Insurance-Platform?node-id=458-7707&p=f&viewport=259%2C2484%2C0.4&t=kBDvOiZMyLPrr24E-0&scaling=scale-down&content-scaling=fixed&starting-point-node-id=563%3A10985">
          Desktop Prototype (2025)
        </a>
      </li>
      <li>
        <a
          target="_blank"
          class="w-full p-3 flex"
          rel="noopener noreferrer"
          href="https://www.figma.com/proto/dcS0TJ1zqMN2FqIFbifemz/Insurance-Platform?page-id=249%3A1843&node-id=349-12033&p=f&viewport=-490%2C58%2C0.23&t=98dfA88dnSnR2flz-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=349%3A12038">
          Mobile Prototype
        </a>
      </li>
      <li>
        <a
          target="_blank"
          class="w-full p-3 flex"
          rel="noopener noreferrer"
          href="https://www.figma.com/design/dcS0TJ1zqMN2FqIFbifemz/Insurance-Platform?node-id=458-7707&t=8DJG8Cmc7JoMm4Kv-1">
          Figma File
        </a>
      </li>
    </ul>
  </mat-menu>
</div>
<div
  class="order-5 project md:col-span-1 grid gap-2 border-3 border-sendit-400 rounded-lg p-4">
  <div class="">
    <h4 class="text-xl text-sendit-900 font-bold">
      ND Designs Library
    </h4>
    <p class="text-sm">
      Personal component library for my side projects using NotionAI,
      ChatGPT, Storybook, Chromatic, and Angular
    </p>
  </div>
  <div
    class="flex bg-sendit-50 justify-center shadow-lg rounded-sm">
    <div class="rounded-sm w-auto">

      <img src="../../../assets/buttons.png"
           alt="Logo"
           class=" p-4 w-full h-auto object-contain"/>
    </div>
  </div>
  <!-- Color Ramp -->
  <div class="grid grid-cols-10">
    <div class="h-7 bg-sendit-50"></div>
    <div class="h-7 bg-sendit-100"></div>
    <div class="h-7 bg-sendit-200"></div>
    <div class="h-7 bg-sendit-300"></div>
    <div class="h-7 bg-sendit-400"></div>
    <div class="h-7 bg-sendit-500"></div>
    <div class="h-7 bg-sendit-600"></div>
    <div class="h-7 bg-sendit-700"></div>
    <div class="h-7 bg-sendit-800"></div>
    <div class="h-7 bg-sendit-900"></div>
  </div>
  <button
    class="bg-sendit-600 rounded-sm font-bold text-white p-2"
    [matMenuTriggerFor]="insmenu"
    #myTriggerBtn>
    View Library
  </button>


</div>
